{% extends "base.html" %}

{% block content %}
    <h1>Login</h1>
    <form method="post" action="/login">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        
        <button type="submit">Login</button>
    </form>

    <!-- Button to redirect to register page -->
    <br>
    <a href="/register"><button type="button">Don't have an account? Register</button></a>
{% endblock %}
